*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial,Helvetica,sans-serif;
    box-sizing: border-box;
        list-style-type: none;
        text-decoration: none;
    }
    header{
        display: flex;
        width: 100%;
        height: 70px;
        background-color: #333;
        justify-content: space-between;
        align-items: center;
        width: 1510px;
        padding: 20px;
    
}
    h3,li,a{
        color: #fff;
        
    }
    nav{
        display: flex;
        justify-content: space-between;
        width: 500px;
    }
.bookmark{
    background-color:tomato;
    border-radius: 10px;
    color:#fff;
    padding: 20px;
}
.div3{
    width: 100%;
    height: 600px;
    justify-content: center;
}
.column{
    float: left;
    border: 2px solid lightblue;
    margin:5px 5px 5px;
    padding: 20px 20px 20px;
    width: 350px;
    height: 300px;
    text-align: center;
    flex-flow:column;
   
}
* {
    box-sizing: border-box;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }